html,
body {
  height: 100%;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
  color: white;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
}