html,
body {
    height: 100% !important;
}

label {
    display: block;
    margin: 5px 0;
}

table {
    border: 1px solid #aaa;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}

#container-main {
    /* min-height: 100%; */
    position: relative;
}

#container-content {
    /* padding: 10px; */
    padding-bottom: 50px;
}

#update-single-form {
    padding-bottom: 50px;
}

.update-table,
.delete-table {
    padding-top: 25px;
    padding-bottom: 75px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
}

.footer-text {
    color: dodgerblue;
    margin-top: 10px;
}